/* Reset des styles par défaut */
body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
}

/* Style pour le conteneur principal */
.profil {
    max-width: 100%;
    margin: 2% auto;
    padding: 0%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour les années */
.year {
    margin-bottom: 20px;
}

/* Style pour les titres des années */
.year h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style pour les liens */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.description{
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
    
}
nav {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 30vh; 
    background-color: #ffffff; 
}

nav ul {
    display: flex; 
    list-style-type: none; 
}

nav ul li {
    margin: 0 60px; 
    text-align: center; 
}

nav ul li a {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-decoration: none; 
    color: #333; 
    transition: transform 0.3s ease; 
}

nav ul li a img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
   
}

nav ul li a span {
    margin-top: 20px; 
    font-size: 20px; 
    font-weight: bold; 
}

nav ul li a:hover {
}